.game-body {
  width: 100%;
  height: 100vh;
  background-color: #5ef7b0;
  font-size: 1.8em;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
}

.game-body .question-counter {
  margin-top: 0px;
}

.game-body .question-box {
  min-width: 70%;
  min-height: 60vh;
  height: fit-content;
  width: fit-content;
  background-color: #ee6386;
  margin: auto;
  padding-top: 20px;
  border-radius: 20px;
}

.game-body #question {
  font-size: 1.8em;
  margin-bottom: 50px;
}
.game-body .option {
  width: fit-content;
  /* margin-top: 10px; */
  margin: auto;
  padding: 1rem;
  text-align: center;
  font-size: xx-large;
}
.game-body .option:hover {
  background-color: azure;
}
.game-body .option:hover {
  cursor: pointer;
}

.game-body #select {
  background-color: #eb2e2e;
  border: none;
  font-size: xxx-large;
  color: aqua;
  font-weight: 700;
}

.game-body #send-button {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.6rem;
  color: #fd117ff3;
  border: none;
  background-color: #2fff52;
  /* margin-top: 20px; */
  cursor: pointer;
  margin: 2rem;
}
.game-body #send-button:hover {
  opacity: 1;
}
.game-body #game-life {
  margin-top: 10 px;
}

.game-body .player-score {
  /* position: absolute; */
  top: 10px;
  left: 10px;
  border: black solid 3px;
  border-radius: 8px;
  margin-top: 2rem;
}
.game-body #user-choise {
  margin-bottom: 1.5rem;
}
.game-body #rating {
  font-size: 1.6em;
}
