.game-body {
  width: 100%;
  height: 100vh;
  background-color: #6d60e4;
  font-size: 1.8em;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
}

.game-body .question-counter {
  margin-top: 0px;
}

.game-body .question-box {
  width: 70%;
  height: 60vh;
  background-color: #9f73e6;
  margin: auto;
  padding-top: 20px;
  border-radius: 20px;
}

.game-body #question {
  font-size: 1.8em;
  margin-bottom: 50px;
}
.game-body .option {
  margin-top: 10px;
}
.game-body .option:hover {
  cursor: pointer;
}

.game-body #select {
  background-color: #6d60e4;
  border: none;
}

.game-body #send-button {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.6rem;
  color: #598cda;
  border: none;
  background-color: #46529d5e;
  margin-top: 20px;
  cursor: pointer;
}
.game-body #send-button:hover {
  opacity: 0.7;
}
