#table-component {
  text-align: center;
  font-size: x-large;
  background-color: #59b3d6;
  margin: auto;
  margin-top: 4rem;
  /* background-color: rgb(219 21 60 / 83%); */
  width: fit-content;
  height: fit-content;
  min-width: 60rem;
  min-height: 52rem;
  border-radius: 0.5rem;
}
body {
  background-color: #89da59;
}
#table-component #table {
  margin: auto;
}

#table-component h1 {
  padding-top: 4rem;
  color: #fd117ff3;
}
#table-component td {
  margin: 0rem, 6rem;
  background-color: #ffffff;
  border-radius: 0.8rem;
  color: rgb(8, 3, 3);
}
#table-component th {
  margin: 3rem;
  padding: 3rem;
  font-size: xx-large;
  color: #3a3a8a;
}
#table-component #link-container {
  margin: 2rem;
}
#table-component .link {
  margin: auto;
  padding: 0;
  top: 0.4em;
  background-color: #89da59;
  border-radius: 0.3em;

  width: 8rem;
  height: 3rem;
  text-align: center;
  font-size: x-large;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
#table-component a {
  text-decoration: none;
}
